<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014.
  ~ Florian Bauer, flbaue@posteo.de
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flbaue.amando4.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="flbaue.amando4.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="flbaue.amando4.app.ManageGeoContacts"
            android:label="@string/title_activity_manage_geo_contacts"
            android:parentActivityName="flbaue.amando4.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="flbaue.amando4.app.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="flbaue.amando4.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="flbaue.amando4.app.ShowMap"
            android:label="@string/title_activity_show_map"
            android:parentActivityName="flbaue.amando4.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="flbaue.amando4.app.StartSimulation"
            android:label="@string/title_activity_start_simulation"
            android:parentActivityName="flbaue.amando4.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="flbaue.amando4.app.SendPosition"
            android:label="@string/title_activity_send_position"
            android:parentActivityName="flbaue.amando4.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="flbaue.amando4.app.EditGeoContact"
            android:label="@string/title_activity_edit_geo_contact"
            android:parentActivityName="flbaue.amando4.app.ManageGeoContacts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ManageGeoContacts" />
        </activity>
        <activity
            android:name="flbaue.amando4.app.Help"
            android:label="@string/title_activity_help"
            android:parentActivityName="flbaue.amando4.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="flbaue.amando4.app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="flbaue.amando4.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
